<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo Lists</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url "todo_list_list" %}">Main page</a>
            </nav>
        </header>
        <main>
            <div>
                <h1>{{ todo_list_detail.name }}</h1>
                <div>
                    <p>
                        <a href="{% url "todo_list_update" todo_list_detail.id %}">Edit</a>
                    </p>
                    <p>
                        <a href="{% url "todo_list_delete" todo_list_detail.id %}">Delete</a>
                    </p>
                </div>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for list in todo_list_detail.items.all %}
                            <tr>
                                <td>
                                    <a href="{% url "todo_item_update" list.id %}">{{ list.task }}</a>
                                </td>
                                <td>{{ list.due_date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
