<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo Lists</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url "todo_list_list" %}">Main page</a>
            </nav>
        </header>
        <main>
            <div>
                <h1 class="title">Update list</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ list_form.as_p }}
                    <button>Update</button>
                </form>
            </div>
        </main>
    </body>
</html>
