<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo List</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url "todo_list_list" %}">Main page</a>
            </nav>
        </header>
        <main>
            <div>
                <h1>My Lists</h1>
                <p>
                    <a href="{% url "todo_list_create" %}">Create a new list</a>
                </p>
                <p>
                    <a href="{% url "todo_item_create" %}">Create a new item</a>
                </p>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lists in todo_list_list %}
                            <tr>
                                <td>
                                    <a href={% url "todo_list_detail" lists.id %}>{{ lists.name }}</a>
                                </td>
                                <td>{{ lists.items.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
